<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
	<link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/stylesheets/ionicons.css">
	<title>coin</title>
</head>

<body>
	{{{body}}}
	<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.0/jquery.cookie.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.2/dist/Chart.min.js"></script>
	<script src="/js/app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.8.1/firebase-app.js"></script>
	<script src="/__/firebase/7.8.1/firebase-auth.js"></script>
	
	<script type="text/javascript">
		var firebaseConfig = {
			apiKey: "AIzaSyBPWm2xOoUgxryoPexKi5kCBYVRMqsgcpw",
			authDomain: "coin-26910.firebaseapp.com",
			databaseURL: "https://coin-26910.firebaseio.com",
			projectId: "coin-26910",
			storageBucket: "coin-26910.appspot.com",
			messagingSenderId: "853313640233"
		};
		// Initialize Firebase
		firebase.initializeApp(firebaseConfig);
		firebase.analytics();

		const auth = firebase.auth();

		let login = document.getElementById('loginDropdown');
		let logout = document.getElementById('logout')

		document.addEventListener('DOMContentLoaded', startup);

		function startup() {
			firebase.auth().signInWithPopup(provider).then(function (result) {
				var token = result.credential.accessToken;

				var user = result.user;

				console.log(token);
				console.log(user);
			}).catch(function (error) {
				var errorCode = error.code;
				var errorMessage = error.message;

				var email = error.email;

				var credential = error.credential;
			});

			function gmailsignin() {
				console.log('hey');
				var provider = new firebase.auth.GoogleAuthProvider();

				firebase.auth().signInWithPopup(provider).then(function (result) {
					var token = result.credential.accessToken;

					var user = result.user;
				}).catch(function (error) {
					var errorCode = error.code;
					var errorMessage = error.message;

					var email = error.email;

					var credential = error.credential;
				});
			}
		}
	</script>
</body>

</html>