<body>
  <nav class="navbar navbar-expand-lg navbar">
    <h1>coin</h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>

  <div class="container" id="budgets">
    <div id="graphs">

    </div>
    <div id="expenses">

    </div>
  </div>

  <footer id="footer">
    <p><i class="far fa-copyright"></i> Copyright 2019 coin</p>
  </footer>

</body>
</html>