<nav class="navbar navbar-expand-lg navbar-fixed-top">
	<div class="container">
		<a class="navbar-brand" href="/">
			<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 172 172"
				style=" fill:#000000;">
				<g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
					stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
					font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
					<path d="M0,172v-172h172v172z" fill="none"></path>
					<g fill="#ffffff">
						<path
							d="M86,24.08c-1.33094,-0.00001 -2.66192,0.31919 -3.87336,0.95742l-60.56953,31.92078c-0.54376,0.28681 -0.89318,0.84194 -0.91664,1.45625c-0.02345,0.61431 0.28263,1.19447 0.80294,1.52189c0.52031,0.32743 1.17578,0.35238 1.71947,0.06545l4.35711,-2.29781v81.61602c0,4.72917 3.87083,8.6 8.6,8.6h99.76c4.72917,0 8.6,-3.87083 8.6,-8.6v-81.61602l4.35711,2.29781c0.54369,0.28693 1.19917,0.26198 1.71947,-0.06545c0.52031,-0.32743 0.82639,-0.90758 0.80294,-1.52189c-0.02345,-0.61431 -0.37288,-1.16944 -0.91664,-1.45625l-60.56953,-31.92078c-1.21089,-0.63851 -2.54242,-0.95742 -3.87336,-0.95742zM86,27.52c0.77916,0.00007 1.55722,0.18644 2.26758,0.56102l52.77242,27.81227v83.42672c0,2.86979 -2.29021,5.16 -5.16,5.16h-99.76c-2.86979,0 -5.16,-2.29021 -5.16,-5.16v-83.42672l52.76906,-27.81227c0.71151,-0.37485 1.49177,-0.56108 2.27094,-0.56102zM86,36.11664c-1.79091,0 -3.58285,0.43031 -5.21375,1.29l-36.06289,19.00734c-4.23348,2.23096 -6.88336,6.6259 -6.88336,11.4118v60.31422c0,5.21386 4.24614,9.46 9.46,9.46h77.4c5.21386,0 9.46,-4.24614 9.46,-9.46v-30.96c0.00439,-0.31015 -0.15856,-0.59863 -0.42645,-0.75498c-0.26789,-0.15635 -0.59921,-0.15635 -0.8671,0c-0.26789,0.15635 -0.43084,0.44484 -0.42645,0.75498v30.96c0,4.28398 -3.45602,7.74 -7.74,7.74h-77.4c-4.28398,0 -7.74,-3.45602 -7.74,-7.74v-60.31422c0,-4.15122 2.29461,-7.95512 5.96625,-9.89l36.06289,-19.00735c2.76164,-1.45573 6.06008,-1.45574 8.82172,0l8.08938,4.26305c0.27312,0.15635 0.60982,0.15106 0.87788,-0.01381c0.26806,-0.16486 0.42469,-0.46297 0.40836,-0.77725c-0.01633,-0.31428 -0.203,-0.59455 -0.48671,-0.73074l-8.08937,-4.26305c-1.6309,-0.85969 -3.41948,-1.29 -5.21039,-1.29zM104.04992,44.28664c-0.39714,0.0008 -0.7421,0.27342 -0.83466,0.65962c-0.09256,0.38621 0.09134,0.78557 0.44497,0.96631l3.44,1.81406c0.27312,0.15635 0.60982,0.15106 0.87788,-0.01381c0.26806,-0.16486 0.42469,-0.46297 0.40836,-0.77725c-0.01633,-0.31428 -0.203,-0.59455 -0.48671,-0.73074l-3.44,-1.81406c-0.12582,-0.06828 -0.26669,-0.10408 -0.40984,-0.10414zM110.92992,47.91141c-0.39714,0.0008 -0.7421,0.27342 -0.83466,0.65962c-0.09256,0.38621 0.09134,0.78557 0.44497,0.96631l1.72,0.90703c0.27312,0.15635 0.60982,0.15106 0.87788,-0.01381c0.26806,-0.16486 0.42469,-0.46297 0.40836,-0.77725c-0.01633,-0.31428 -0.203,-0.59455 -0.48671,-0.73074l-1.72,-0.90703c-0.12582,-0.06828 -0.26669,-0.10408 -0.40984,-0.10414zM87.01117,63.64c-0.52976,0 -0.97419,0.15235 -1.33367,0.46023c-0.3612,0.30788 -0.54086,0.65293 -0.54086,1.03133v2.1332c-1.72688,0.14276 -3.33798,0.45862 -4.82406,0.95742c-1.48952,0.49708 -2.89341,1.22244 -4.21265,2.17016c-1.32096,0.94944 -2.36382,2.241 -3.13094,3.87672c-0.76712,1.63916 -1.15227,3.52914 -1.15227,5.67398c0,1.763 0.28716,3.34491 0.86336,4.75015c0.5762,1.40696 1.21153,2.52518 1.90813,3.35938c0.6966,0.83248 1.75061,1.65566 3.16789,2.46578c1.41384,0.8084 2.57879,1.3796 3.49039,1.71328l3.89016,1.42773v19.01406c-1.89028,-0.09632 -3.58789,-0.44293 -5.08945,-1.03805c-1.50328,-0.59512 -2.59575,-1.23684 -3.28547,-1.92828c-0.688,-0.69144 -1.36514,-1.32193 -2.02906,-1.89469c-0.66392,-0.57276 -1.18707,-0.86 -1.56547,-0.86c-0.66908,0 -1.27546,0.35948 -1.82414,1.075c-0.54868,0.71552 -0.82305,1.45187 -0.82305,2.21383c0,1.66152 1.4039,3.37201 4.21266,5.12641c2.80876,1.7544 6.27426,2.65622 10.40398,2.70094v2.47586c0,0.39904 0.17966,0.76164 0.54086,1.08844c0.35948,0.32508 0.80563,0.48711 1.33367,0.48711c0.47816,0 0.9098,-0.16039 1.29336,-0.48375c0.38356,-0.32336 0.57781,-0.68776 0.57781,-1.08508v-2.69086c3.86484,-0.51772 6.93101,-1.96803 9.19797,-4.35711c2.26696,-2.3908 3.39969,-5.64458 3.39969,-9.7657c0,-2.33404 -0.34497,-4.37178 -1.03469,-6.1107c-0.69144,-1.73892 -1.71667,-3.16684 -3.07719,-4.28656c-1.36224,-1.118 -2.6506,-2.00055 -3.86664,-2.64383c-1.21776,-0.64328 -2.75474,-1.29787 -4.61578,-1.96523v-16.27953c2.06228,0.0946 3.97973,0.55838 5.74789,1.38742c1.76644,0.82904 2.77092,1.23961 3.01,1.23961c0.774,0 1.40293,-0.37695 1.88797,-1.13547c0.48332,-0.7568 0.72562,-1.46592 0.72562,-2.12984c0,-1.32612 -1.17782,-2.40604 -3.52734,-3.23508c-2.35296,-0.82732 -4.96822,-1.31521 -7.8475,-1.45797v-1.98875c0,-0.3784 -0.19089,-0.72345 -0.57445,-1.03133c-0.38528,-0.30788 -0.81684,-0.46023 -1.29672,-0.46023zM85.42219,72.5457v14.96938c-2.66256,-0.95288 -4.64897,-1.99106 -5.95617,-3.11078c-1.30892,-1.118 -1.96187,-2.79626 -1.96187,-5.0357c0,-4.02652 2.63765,-6.30001 7.91805,-6.82289zM88.5968,95.01656c2.3048,0.95288 4.07589,2.12267 5.32461,3.50383c1.247,1.38288 1.87117,3.31304 1.87117,5.79156c0,4.71452 -2.40034,7.45679 -7.19914,8.21703z">
						</path>
					</g>
				</g>
			</svg>
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active">
					<a class="nav-link" href="/">
						<div class="icons8-home"></div> Home<span class="sr-only">(current)</span>
					</a>
				</li>
				{{!-- CREATE ACCOUNT --}}
				{{#if isAuthenticated}}
				<li class="nav-item">
					<a href="/home" class="nav-link"><img src="images/squareBtn.png" height="15"></a>
					{{else}}
					<div class="dropdown text-center">
						<button class="dropdown-toggle nav-link navBtn" type="button" id="createDropdown"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30"
								viewBox="0 0 172 172" style=" fill:#000000;">
								<g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
									stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
									font-family="none" font-weight="none" font-size="none" text-anchor="none"
									style="mix-blend-mode: normal">
									<path d="M0,172v-172h172v172z" fill="none"></path>
									<g fill="#ffffff">
										<path
											d="M89.01,11.395c-16.13844,0.36281 -26.35094,6.89344 -30.745,16.985c-4.17906,9.60781 -3.30562,21.715 -0.3225,34.2925c-1.59906,1.88125 -2.91594,4.52844 -2.58,8.4925v0.215c0.57781,4.1925 1.84094,7.14875 3.44,9.245c0.77938,1.02125 1.935,1.04813 2.9025,1.6125c0.5375,3.62813 1.42438,7.29656 2.795,10.32c0.77938,1.72 1.58563,3.21156 2.4725,4.515c0.41656,0.60469 1.04813,0.99438 1.505,1.505v12.3625c-1.10187,2.64719 -3.72219,4.78375 -7.8475,6.88c-4.3,2.17688 -9.91687,4.17906 -15.5875,6.665c-5.67062,2.48594 -11.40844,5.56313 -16.0175,10.32c-4.60906,4.75688 -7.91469,11.22031 -8.385,19.78l-0.215,3.655h138.03l-0.215,-3.655c-0.47031,-8.55969 -3.77594,-15.02312 -8.385,-19.78c-4.60906,-4.75687 -10.4275,-7.83406 -16.125,-10.32c-5.6975,-2.48594 -11.34125,-4.47469 -15.695,-6.665c-4.17906,-2.09625 -6.78594,-4.20594 -7.955,-6.88v-12.47c0.41656,-0.48375 1.00781,-0.81969 1.3975,-1.3975c0.88688,-1.30344 1.80063,-2.795 2.58,-4.515c1.35719,-2.99656 2.2575,-6.62469 2.795,-10.2125c1.10188,-0.56437 2.365,-0.60469 3.225,-1.72c1.65281,-2.16344 2.62031,-5.24062 3.01,-9.46c0.30906,-3.64156 -0.73906,-6.28875 -2.365,-8.2775c1.78719,-5.50937 3.91031,-14.32437 3.225,-23.3275c-0.37625,-4.945 -1.67969,-9.87656 -4.6225,-13.975c-2.66062,-3.70875 -6.96062,-6.24844 -12.3625,-7.4175c-3.64156,-4.86437 -10.25281,-6.7725 -17.845,-6.7725zM89.1175,18.275c0.04031,0 0.06719,0 0.1075,0c6.86656,0.02688 11.26063,1.96188 12.685,4.4075l0.86,1.505l1.72,0.215c4.73,0.65844 7.32344,2.48594 9.245,5.16c1.92156,2.67406 3.02344,6.40969 3.3325,10.535c0.63156,8.26406 -1.76031,17.9525 -3.3325,22.36l-1.075,2.9025l2.6875,1.3975c-0.02687,0.09406 1.10188,1.23625 0.9675,3.7625c0,0.05375 0,0.05375 0,0.1075c-0.3225,3.23844 -1.15562,5.06594 -1.72,5.805c-0.57781,0.7525 -0.87344,0.645 -0.7525,0.645h-3.1175l-0.3225,3.1175c-0.29562,3.09063 -1.41094,6.62469 -2.6875,9.46c-0.645,1.42438 -1.23625,2.6875 -1.8275,3.5475c-0.59125,0.86 -1.29,1.35719 -0.9675,1.1825l-1.72,0.9675v15.91c0,0.1075 0,0.215 0,0.3225v0.215c0,-0.04031 -0.61812,1.47813 -3.1175,2.795c-2.49937,1.31688 -6.35594,2.365 -10.6425,2.365c-4.32687,0 -8.15656,-0.98094 -10.6425,-2.2575c-2.48594,-1.27656 -3.1175,-2.60687 -3.1175,-2.9025c0.01344,-0.52406 -0.1075,-1.03469 -0.3225,-1.505v-14.9425l-1.72,-0.9675c0.3225,0.17469 -0.37625,-0.3225 -0.9675,-1.1825c-0.59125,-0.86 -1.29,-2.12312 -1.935,-3.5475c-1.27656,-2.83531 -2.39187,-6.36937 -2.6875,-9.46l-0.215,-3.1175h-2.9025c-0.12094,-0.05375 -0.44344,-0.22844 -0.7525,-0.645c-0.60469,-0.79281 -1.46469,-2.64719 -1.935,-5.805c0,-0.06719 0,-0.04031 0,-0.1075c-0.01344,-0.05375 0.01344,-0.05375 0,-0.1075c-0.05375,-2.60687 1.55875,-4.05812 1.29,-3.87l1.935,-1.3975l-0.5375,-2.365c-3.17125,-12.53719 -3.66844,-23.89187 -0.3225,-31.605c3.34594,-7.68625 10.11844,-12.55062 24.51,-12.9zM71.9175,118.25c1.10188,1.02125 2.365,1.86781 3.7625,2.58c3.70875,1.90813 8.45219,3.01 13.76,3.01c5.34813,0 10.18563,-1.16906 13.8675,-3.1175c1.29,-0.68531 2.51281,-1.45125 3.5475,-2.365c2.2575,2.365 5.14656,4.17906 8.17,5.6975c4.98531,2.49938 10.66938,4.43438 16.0175,6.7725c5.34813,2.33813 10.25281,4.98531 13.8675,8.7075c2.87563,2.96969 4.64938,6.92031 5.59,11.825h-122.12c0.94063,-4.90469 2.71438,-8.85531 5.59,-11.825c3.60125,-3.72219 8.53281,-6.36937 13.8675,-8.7075c5.33469,-2.33812 10.965,-4.25969 15.91,-6.7725c3.05031,-1.54531 5.95281,-3.38625 8.17,-5.805z">
										</path>
									</g>
								</g>
							</svg> Create Account
						</button>
						<div class="dropdown-menu">
							<form class="px-4 py-3" action="/">
							<div class="form-group">
								<label for="email">Email</label>
								<input type="text" class="form-control" placeholder="email" name="email" required>
							</div>
								<div class="form-group">
									<label for="username">Username</label>
									<input type="text" class="form-control" placeholder="username" name="username" required>
								</div>
								<div class="form-group">
									<label for="password">Password</label>
									<input type="password" class="form-control" placeholder="Password" name="password" required>
								</div>
								<button type="submit" class="btn btn-info customFont">Create Account</button>
							</form>
						</div>
					</div>
					{{/if}}
					{{!-- LOGIN / LOGOUT --}}
				<li class="nav-item">
					{{#if isAuthenticated}}
					{{!-- If user is logged in, display logout button --}}
					<a class="nav-link" href="/logout" id="logout"><img src="images/circleBtn.png" alt="x" width="15"> Logout</a>
					{{else}}
					{{!-- If user is logged out, display login button --}}
					<div class="dropdown">
						<button class="nav-link dropdown-toggle navBtn" id="loginDropdown" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
								width="30" height="30" viewBox="0 0 172 172" style=" fill:#000000;">
								<g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
									stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
									font-family="none" font-weight="none" font-size="none" text-anchor="none"
									style="mix-blend-mode: normal">
									<path d="M0,172v-172h172v172z" fill="none"></path>
									<g fill="#ffffff">
										<path
											d="M158.23969,28.39197c-0.52491,0.0126 -1.05506,0.12965 -1.55897,0.36481l-17.3349,7.79218c-2.01562,0.94062 -2.95625,3.35938 -2.01562,5.375c0.94063,2.01563 3.35938,2.95625 5.375,2.01563l8.46667,-3.76093c-26.06875,65.0375 -76.8625,102.25885 -140.42187,102.25885h-5.375c-2.28438,0 -4.03125,1.74687 -4.03125,4.03125c0,2.28438 1.74687,4.03125 4.03125,4.03125h5.375c67.1875,0 120.6677,-39.10312 148.0802,-107.5l3.76355,8.46667c0.67188,1.47813 2.14895,2.41718 3.62708,2.41718c0.5375,0 1.07657,-0.1328 1.61407,-0.40155c2.01563,-0.94063 2.95625,-3.35937 2.01563,-5.375l-7.7948,-17.3349c-0.70547,-1.51172 -2.24133,-2.41823 -3.81603,-2.38043zM166.625,68.53125c-2.28438,0 -4.03125,1.74688 -4.03125,4.03125v90.03125h-157.21875c-2.28438,0 -4.03125,1.74687 -4.03125,4.03125c0,2.28438 1.74687,4.03125 4.03125,4.03125h161.25c2.28438,0 4.03125,-1.74687 4.03125,-4.03125v-94.0625c0,-2.28437 -1.74687,-4.03125 -4.03125,-4.03125zM146.46875,95.40625c-2.28438,0 -4.03125,1.74688 -4.03125,4.03125v53.75c0,2.28438 1.74687,4.03125 4.03125,4.03125c2.28438,0 4.03125,-1.74687 4.03125,-4.03125v-53.75c0,-2.28437 -1.74687,-4.03125 -4.03125,-4.03125zM126.3125,122.28125c-2.28437,0 -4.03125,1.74688 -4.03125,4.03125v26.875c0,2.28438 1.74688,4.03125 4.03125,4.03125c2.28438,0 4.03125,-1.74687 4.03125,-4.03125v-26.875c0,-2.28437 -1.74687,-4.03125 -4.03125,-4.03125zM106.15625,135.71875c-2.28437,0 -4.03125,1.74687 -4.03125,4.03125v13.4375c0,2.28438 1.74688,4.03125 4.03125,4.03125c2.28437,0 4.03125,-1.74687 4.03125,-4.03125v-13.4375c0,-2.28438 -1.74688,-4.03125 -4.03125,-4.03125zM86,149.12213c-1.04141,0 -2.08229,0.3711 -2.82135,1.11017c-0.13438,0.13438 -0.40365,0.40312 -0.53803,0.67188c-0.13438,0.26875 -0.2698,0.40312 -0.40417,0.67188c-0.13438,0.26875 -0.13333,0.53698 -0.2677,0.80573c0,0.26875 -0.13385,0.53698 -0.13385,0.80573c0,1.075 0.40365,2.14948 1.2099,2.82135l0.5354,0.53802c0.26875,0.13438 0.40312,0.2698 0.67188,0.40417c0.26875,0.13438 0.5396,0.13333 0.80835,0.2677c0.26875,0 0.53698,0.13385 0.80573,0.13385c1.075,0 2.14947,-0.40365 2.82135,-1.2099c0.80625,-0.80625 1.2099,-1.74635 1.2099,-2.82135c0,-0.26875 0.00052,-0.53698 -0.13385,-0.80573c0,-0.26875 -0.13595,-0.53698 -0.27032,-0.80573c0.13437,-0.26875 0.00053,-0.53698 -0.13385,-0.80573c-0.13437,-0.26875 -0.26928,-0.40312 -0.53803,-0.67187c-0.73906,-0.73906 -1.77994,-1.11017 -2.82135,-1.11017z">
										</path>
									</g>
								</g>
							</svg>
							Login</button>
						<div class="dropdown-menu">
							<form class="px-4 py-3"  action="/home">
								<div class="form-group">
									<label for="username">Username</label>
									<input type="text" class="form-control" placeholder="username" name="username" required>
								</div>
								<div class="form-group">
									<label for="password">Password</label>
									<input type="password" class="form-control" placeholder="Password" name="password" required>
								</div>
								<button type="submit" class="btn btn-info customFont">Login</button>
							</form>
						</div>
					</div>
					{{/if}}
				</li>
				</li>
			</ul>
		</div>
	</div>
</nav>

<div class="container">
	<div class="line1"></div>
	<div class="line2"></div>
	<div class="line3"></div>
	<div class="line4"></div>
	<h1 id="coin">coin</h1>
	<h2 class="welcome">Welcome:</h2>
	<p class="welcomep">Welcome to coin! Here at coin we want to make the process of budgeting at quick and 
		as painless as possible! If your new with coin, feel free to create an account and input 
		your monthly budget. If you're not new with us, welcome back!
	</p>
	<div class="line5"></div>
	<div class="line6"></div>
</div>

