<nav class="navbar navbar-expand-lg navbar">
  <h1>coin</h1>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<div class="container" id="login">
		<div class="login-form">
			<h1>login to coin</h1>
			<form action="home">
				<input type="text" name="username" placeholder="Username" required>
				<input type="password" name="password" placeholder="Password" required>
				<input type="email" name="email" placeholder="email" required>
				<button id="loginButton">Login</button>
			</form>
		</div>
		</div>
<footer class="footer mt-auto py-3">
  <p><i class="far fa-copyright"></i> Copyright 2019 coin</p>
</footer>