body {
  min-height: 105vh;
}

.navbar {
  background-color: rgb(19, 19, 82);;

  }

.navbar-brand {
  color: white;

}

.nav-link {
  color: white;

}

.container {
  background-color: white;
  opacity: 0.8;

}

h1 {
  color: white;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: 50px;
  background-color: rgb(19, 19, 82);
  color: white;
  text-align: center;
}

.mt-auto {
  margin-top: auto!important;
}