.navbar {
  background-image: url(./images/cloud.jpg);

  }

.navbar-brand {
  color: white;

}

.nav-link {
  color: white;

}

.container {
  background-color: white;
  opacity: 0.8;

}


.jumbotron {
  background-color: white;
  background-image: url(./images/smartstuff.jpg);

}

body {
  background-image: url(./images/cloud.jpg);


}

#footer {
  padding: 4% 15%;
  text-align: center;
  background-image: url(./images/coins.jpg);
  color: black;
}
